.search-bar{
    padding:0px 10px 0px 10px;
    background-color:#4364B2;
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    color:#fff;
}
.search-bar > div{
    padding:5px;
    text-align:center;
}
.search-bar input.search-input{
    background-color:#2f467c;
    border:unset;
    color:#fff;
} 
.search-bar  div.icons{
    font-size:20px;
}

.circle-sub-menu{
    display:inline-block;
    width:100%;
    padding:0px;
    background-color:#fff;
    border-bottom:1px solid #dddddd;
}
.circle-sub-menu > div{
    padding:10px;
    font-size:12px;
    text-align:center;
}
.circle-sub-menu label{
    margin-top:5px;
    font-weight:unset;
    margin-bottom:0px;
}
.circle-sub-menu button{
    outline:none !important;
}

.landing {
    height: 150px;
    width: 100%;
    position: fixed;
    background-color: #ff0000;
}

.landing-wrapper {
    height: 150px;
}